<section>
    <h2 data-bind="html: displayName"></h2>
    <div class="row-fluid">
    	<label>Git it started when?</label>
    	<input type="text" data-bind="ko_datepicker_handler: 'selectedDate'	, value: selectedDate" id='ko-date-picker' placeholder="mm/dd/yyyy">
    	<p> This approach passes a string value for the model property that needs to be bound to the view.

    	<span data-bind="text: selectedDate"></span>

    </div>
    <p>
    <script src="https://gist.github.com/bforrest/8424930.js" type="text/javascript"></script>
    why you no show teh codez?
    </p>
</section>    